/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

:root {
  --ifm-color-primary: #669900;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --transpara-primary-color1: #669900;
  --transpara-primary-color2: #99cc00;
  --transpara-primary-color3: #bbb666;
  --transpara-primary-color4: #666666;
  --transpara-primary-color5: #000000;
  --transpara-primary-color6: #cccccc;
  --transpara-primary-color7: #333333;
  --transpara-primary-color8: #ffffff;
  --transpara-optional-color1: #ebe7dc;
  --transpara-optional-color2: #999999;
  --transpara-optional-color3: #e8e8e8;
  --transpara-highlights-color1: #ff6600;
  --transpara-highlights-color2: #6699cc;
  --ifm-font-family-base: 'Inter', system-ui, sans-serif !important;
  /* Search bar configurations. */
  --aa-primary-color-rgb: 102, 153, 0 !important;
  --aa-muted-color-rgb: 102, 153, 0 !important;
  --aa-input-border-color-rgb: 102, 153, 0 !important;
  /* -------------------------- */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Set Open Sans as the default font for the entire website */
* {
  font-family: 'Open Sans' !important;
}

main {
  background-color: white !important;
}

.hero {
  background-color: transparent !important;
}

.main-wrapper {
  background-image: url('../../static/img/circles-background-opaque.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pagination-nav__label {
  color: black !important;
}

/*-------------------------------- Markdown Header sizes ------------------------------  */

.markdown h1 {
  --ifm-h1-font-size: 2.125rem !important;
}

.markdown h2 {
  --ifm-h2-font-size: 1.625rem !important;
}

.markdown h3 {
  --ifm-h3-font-size: 1.375rem !important;
}

/*-------------------------------- Tables configuration ------------------------------  */

table {
  width: fit-content;
  margin: auto;
  margin-bottom: var(--ifm-spacing-vertical);
}

table thead th {
  background-color: #ddd7e9;
  border: none;
  text-align: left;
}

table tr {
  width: 100%;
}

table tr td {
  background-color: #ffffff;
  border: none;
}

table thead,
table tbody {
  border: 1px solid #ddd7e9;
}

table thead tr {
  border: 0 !important;
}

table {
  font-size: small;
}
