.headerBtn {
  /* width: 189px; */
  border: transparent;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  background-color: var(--transpara-primary-color1);
  transition: all 0.5s ease;
}

.headerBtn svg, .sectionBtn svg {
  transform: rotate(-45deg);
}

.sectionBtn {
  width: 180px;
  border: transparent;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--transpara-primary-color1);
  transition: all 0.5s ease;
  margin-top: 10px;
}

.headerBtn:hover, .sectionBtn:hover {
  background: #666666;
  text-decoration: none;
  color: white;
}

.headerBtn h4, .sectionBtn h4 {
  margin: 0;
}
