.headerBtn {
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  background-color: var(--transpara-primary-color1);
  transition: all 0.5s ease;
}


.headerBtn:hover, .sectionBtn:hover {
  background: transparent;
  text-decoration: none;
  color: var(--transpara-primary-color1);
  border: 1px solid var(--transpara-primary-color1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.headerBtn h4, .sectionBtn h4 {
  margin: 0;
  padding: 0 10px;
}
