
.header_container {
  align-self: center;
  color: #282A30;
  display: flex;
  justify-content: center;
  padding: 80px;
  gap: 10%;
}


.header_container h1 {
  color: #000000;
  /* font-family: var(--main-font); */
  font-size: 65.1px;
  font-style: normal; 
  line-height: 100%; /* 65.1px */
  margin-bottom: 40px;
  font-family: 'Raleway' !important;
}

.header_container .first_column p {
  color: #000000;
  font-family: var(--main-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin: 0 0 40px 12px;
  max-width: 462px;
  font-family: 'Raleway' !important;
}

.header_container .second_column p {
  color: #000000;
  font-family: var(--main-font);
  font-style: normal;
  line-height: 100%;
  max-width: 462px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 10px 0 32px 0;
}

.hero {
  height: 350px;
  background-color: var(--ifm-color-primary);
  padding: 0 !important;
}

.main_card {
  padding: 30px 100px;
  margin: 0 100px;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.cards_container {
  color: black;
  display: flex;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}

.secondary_cards_section {
  margin-bottom: 5%;
}

.card {
  background-color: rgba(255, 255, 255, 0.971);
  border: 1px solid rgba(0, 0, 0, 0.147);
  border-radius: 6px;
  color: black;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: fit-content;
  margin: 16px;
  padding: 16px;
  transition: box-shadow 0.3s ease, border 0.1s ease;
  width: 408px;
}

.card:hover {
  border: 1px solid var(--transpara-primary-color2);
  box-shadow: 0 10px 20px #282a3017;
  color: black;
  text-decoration: none;
}

.card .card_image {
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  height: 120px;
  padding: 10px;
}

.cards_container .card .image1 {
  background-image: url('https://images.unsplash.com/photo-1481349518771-20055b2a7b24?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cmFuZG9tfGVufDB8fDB8fHww');
}

.cards_container .card .image2 {
  background-image: url('https://media.istockphoto.com/id/1470130937/photo/young-plants-growing-in-a-crack-on-a-concrete-footpath-conquering-adversity-concept.webp?b=1&s=170667a&w=0&k=20&c=IRaA17rmaWOJkmjU_KD29jZo4E6ZtG0niRpIXQN17fc=');
}

.cards_container .card .image3 {
  background-image: url('https://thumbs.dreamstime.com/z/random-click-squirrel-wire-random-picture-cute-squirrel-219506797.jpg');
}

.cards_container .card .image4 {
  background-image: url('https://i.pinimg.com/736x/44/29/f0/4429f02128255f000ff0f11e03fc2cb2.jpg');
}

.cards_container .card .image5 {
  background-image: url('https://lh3.googleusercontent.com/hwau7OVWx96XaME5KpRuJ0I_MscrerK6SbRH1UwYHYaxIDQQtn7RZK02LDSfBzCreidFgDsJeXyqDct6EZiH6vsV=w640-h400-e365-rj-sc0x00ffffff')
}

.cards_container .card_text {
  padding-top: 16px;
}

.cards_container .card_text h3 {
  height: 24px;
  margin: 0;
  margin-top: 5px;
}

.cards_container .card_text p {
  margin: 8px 0 0 0;
  min-height: 40px;
  height: fit-content;
}

.cards_container .card a {
  border-radius: 15px;
  color: var(--transpara-primary-color1);
  font-weight: 700;
  margin-top: 8px;
  padding: 3px 0;
  text-decoration: none;
  transition: color 0.3s ease;
  width: fit-content;
}

.cards_container .card:hover a {
  text-decoration: underline !important;
  color: var(--transpara-highlights-color2) !important;
}

@media screen and (max-width: 844px) {
  .header_container .first_column p {
    font-size: 20px !important;
  }

  .header_container .second_column p {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 822px) {
  .header_container .first_column h1 {
    font-size: 50px !important;
  }
}

@media screen and (max-width: 700px) {
  .header_container {
    gap: 5%;
    flex-direction: column;
  }

  .header_container .first_column h1 {
    /* font-size: 40px !important; */
    margin-bottom: 10px;
  }

  .header_container .first_column p {
    /* font-size: 16px !important; */
    margin: 0;
    margin-bottom: 10px;
  }

  .header_container .second_column p {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 560px) {
  .header_container {
    padding: 60px;
  }
}

@media screen and (max-width: 520px) {
  .header_container {
    padding: 50px;
  }
}

@media screen and (max-width: 470px) {
  .header_container {
    padding: 30px;
  }
}

@media screen and (max-width: 440px) {
  .header_container .first_column h1 {
    font-size: 40px !important;
  }

  .header_container .first_column p {
    font-size: 16px !important;
  }

  .card {
    width: 80%;
  }
}

@media screen and (max-width: 310px) {
  .header_container .first_column h1 {
    margin-top: 20px;
    font-size: 30px !important;
  }

  .header_container .first_column p {
    font-size: 14px !important;
  }

  .header_container .headerBtn {
    padding: 10px 20px;
  }

  .header_container .headerBtn h4 {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 260px) {
  .header_container .headerBtn {
    padding: 8px 16px;
  }

  .header_container .headerBtn h4 {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 250px) {
  .header_container .headerBtn {
    padding: 8px 2px;
  }

  .header_container .headerBtn h4 {
    font-size: 12px !important;
  }
}