.icon_cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.icon_cards_container .icon_card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  text-align: center;
  gap: 5px;
  transition: all 0.3s ease;
}

.icon_cards_container .icon_card:hover {
  border-color: var(--transpara-primary-color1);
  cursor: default;
}

.icon_cards_container .icon_card h3 {
  font-size: 14px;
  margin: 0;
}

.icon_cards_container .icon_card .icon_img {
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.icon_cards_container .icon_card .icon_img:hover {
  cursor: default !important;
}