.link_cards_container {
  display: grid;
  /*  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
  gap: 10px;
  margin-bottom: 25px;
}

.link_cards_container .link_card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
  gap: 5px;
  transition: all 0.3s ease;
  min-height: 67px;
}

.link_cards_container .link_card:hover {
  border-color: var(--transpara-primary-color1);
  cursor: pointer;
  text-decoration: none !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.link_cards_container .link_card h3 {
  font-size: 14px;
  margin: 0;
}

.link_cards_container .link_card .icon_img {
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.link_cards_container .link_card .icon_img:hover {
  cursor: default !important;
}
