.theme-doc-sidebar-container {
  margin: 0;
  margin-top: -110px !important;
}

.theme-doc-sidebar-container [class^="sidebar_"] {
  padding-top: 110px !important;
}

ul.breadcrumbs {
  margin-top: 6px;
}

.tableOfContents_node_modules-\@docusaurus-theme-classic-lib-theme-TOC-styles-module,
.thin-scrollbar.theme-doc-toc-desktop {
  top: 125px !important;
}

.clean-btn:hover {
  background-color: transparent;
}

.col--3 {
  margin: 0 50px 0 0;
  padding-right: 0;
}

.menu__list {
  margin: 0 !important;
}

.menu__list-item .menu__list {
  padding-left: 18px !important;
}

.menu__link {
  font-size: 14px;
  color: #282a30;
  font-family: "Raleway";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.theme-doc-sidebar-item-category,
.theme-doc-sidebar-item-link {
  margin: 8px 0;
}

.sidebar_title {
  /* padding-left: 0 !important; */
  text-transform: uppercase;
  margin: 24px 0 5px !important;
  color: #690;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.sidebar_title:first-child {
  margin-top: 10px !important;
}

.sidebar_first_options div:first-child {
  display: flex;
}

.sidebar_first_options ul li {
  padding-left: 32px;
}

.design_a_process ul li {
  padding-left: 7px;
}

/* .theme-doc-sidebar-item-category-level-1 div {
  padding-left: 10px; 
} */

.theme-doc-sidebar-item-category-level-1 a {
  padding-left: 14px;
}

.menu__list-item-collapsible.menu__list-item-collapsible--active,
.menu__link--active {
  background: #9c0 !important;
}

.menu__link--active {
  color: #455909 !important;
  font-weight: 600;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: var(--transpara-highlights-color2) !important;
  font-weight: 600;
}

.breadcrumbs__link:hover {
  color: var(--transpara-highlights-color2);
}

.theme-doc-sidebar-menu {
  margin-top: 15px !important;
}

.menu__caret:before,
.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.2rem 1.2rem;
}

@media (max-width: 1440px) {
  .theme-doc-sidebar-container {
    margin: 0 0 0 135px;
  }

  .col--3 {
    margin: 0 135px 0 0;
  }
}

@media (max-width: 1285px) {
  .theme-doc-sidebar-container {
    margin: 0 0 0 55px;
  }

  .col--3 {
    margin: 0 55px 0 0;
  }
}

@media (max-width: 1024px) {
  .theme-doc-sidebar-container {
    margin: 0 0 0 50px;
  }

  .col--3 {
    margin: 0 50px 0 0;
  }
}
